
:root {
    /* aici voi pune culorile din paleta de culori */
    --level1: #2919FF;
    --level2: #3B51E8;
    --level3: #7CA7FF;
    --level4: #A5C8E8;
    --level5: #D1FFE4;
}

html{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input, button {
    flex: 1; 
    margin: 1rem;   
}

button {
    min-height: 2.5rem;
    max-height: 3rem;
}

button, input[type=submit] {
    background-color:  var(--level1);
    border-radius: 5px;
    border-radius: 5px;
    border: 0.1em solid var(--level4);
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    width: 90%;
}
button:hover {
    background-color: var(--level4);
    color: var(--level1);
}

/* Navigation */

@media (min-width: 500px) {

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr;
}

.main-nav a {
    background-color: var(--level4);
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.main-nav a:hover {
    background:var(--level2);
    color: var(--level4); 
}

}


@media (max-width: 500px) {

    .main-nav ul {
        display: grid;
        grid-template-columns: 1fr;
        display: grid;
        grid-gap: 20px;
        padding: 0;
        list-style: none;
    }
    .main-nav a {
        background-color: var(--level4);
        display: block;
        text-decoration: none;
        padding: 0.5rem;
        text-align: center;
        color: black;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    
 
}
@import url("/css/general.css");