

@media (min-width: 500px) {
    
    img {
        display: block;
        max-width: 100%;
        margin: auto;
    }
    
    .wrapper {
        display: grid;
        grid-gap: 20px;
    }
    

    /* Table */

    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th {
        max-height: 1rem;
        text-align: left;
        background: white;
        background: var(--level5);
    }

    th, td {
        padding: 0.5rem;
        border-bottom: 1px solid #ddd;
    }
    table, th, td {
        border: 1px solid black;
    }
   
    tr:hover {
        background-color: var(--level3);
    }
    
.buttons ul {
    display: grid;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

button {
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    color: black;
    background-color:  var(--level1);
    display: block;
    border: 0.1em solid lightblue;
    width:  100%;
    cursor: pointer;
}
.buttons button:hover {
    background-color: var(--level4);
    color: rgb(8, 88, 128);

}

}
@media only screen and (max-width: 500px) {
    
    
    
    img {
        display: block;
        max-width: 100%;
        margin: auto;
    }
    
    .wrapper {
        display: grid;
        grid-gap: 20px;
    }
    

    /* Table */

    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th {
        max-height: 1rem;
        text-align: left;
        background: var(--level5);
    }

    th, td {
        padding: 0.5rem;
        border-bottom: 1px solid #ddd;
    }
    table, th, td {
        border: 1px solid black;
    }
   
    tr:hover {
        color: rgb(8, 88, 128);

    }
    
}



