@import url("/css/general.css");

body{
    background-color: white;
    margin: 30px 50px;
    line-height: 1.4;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}



/* Add form button */

.add {
    max-width: 4rem;
    margin: auto;
    margin-top: 5rem;

}

.add:hover {
    background-color: var(--level2);
    border-radius: 50%;
    
}

/* List of forms */

.forms ul {
    
    padding: 0;
    list-style: none;

}
.forms li{

    padding: 5px 0px 5px 25%;
    width: 50%;
      
}

.forms a {
    background-color: var(--level4);
    display: block;
    text-decoration: none;
    padding: 1.5rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 1.7rem;
    
}

.forms a:hover {
    background:var(--level2);
    color: white; 
}

