@import url("/css/general.css");

body {
    background: white;
    line-height: 1.6;
    padding: 1em;
}

.container{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.project{
    text-align: center;
}

.wrapper{
    border-radius: 10px;
    border-radius: 10px;
    border: 0.1em solid var(--level2);
    box-shadow: 0 0 20px 0 var(--level4);
}



.project-info {
    background: var(--level4);
    padding: 0.7rem;
    border-top-left-radius:10px;
    border-top-right-radius: 10px; 
}

.project-info h3 {
    text-align: center;
    margin: 0 0 1rem 0;
}

/* The Login Form */

.login label {
    display: block;
    margin: auto;
}
.form-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
}
.button{
    margin: 20px 0 10px 30%;
}