@import url("/css/general.css");

body {
    background: white;
    color: black;
    line-height: 1.6;
    padding: 1em;
}

.container{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.project{
    text-align: center;
}

.wrapper{
    box-shadow: 0 0 20px 0 var(--level4);
    border-radius: 10px;
    border-radius: 10px;
    border: 0.1em solid var(--level2);

}

/* The box with a brief description of the rpoject */

.project-info {
    background: var(--level4);
    padding: 0.7rem;
    border-top-left-radius:10px;
    border-top-right-radius: 10px; 
}

.project-info h3 {
    text-align: center;
    margin: 0 0 1rem 0;
}

.login {
    padding-top: 1rem;
    background: val(--level5);
}



/* The Login Form */
.login label {
    display: inline-block;
    margin-left: 25px;
}
.form-group{

    padding-top: 15px;
}
.form-group input{
    float: right;
    margin-right: 20px;
}
.button{
    margin: 20px 0 10px 30%;
}

