<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dave</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/general.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/index_structure.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/formdisplay_structure.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/landing_structure.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/login_structure.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/registerform_structure.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/statistics_structure.css" />

</head>

<body>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-firestore.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyApyPVMUxBRyZPWwgOmxxBLy8wh8cLcrfA",
            authDomain: "dave-28da5.firebaseapp.com",
            databaseURL: "https://dave-28da5.firebaseio.com",
            projectId: "dave-28da5",
            storageBucket: "dave-28da5.appspot.com",
            messagingSenderId: "655534704604"
        };
        firebase.initializeApp(config);
        const auth = firebase.auth();
        const db = firebase.firestore();

        //update firestore settings
        db.settings({timestampsInSnapshots : true});
    </script>
    <script src="/javascript/router.js"></script>
    <script src="/javascript/globalVariables.js"></script>
    <script src="/javascript/loginSession.js"></script>
    <script src="/javascript/setData.js"></script>
    <script src="/javascript/init.js"></script>

</body>

</html>