<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/general.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/index_structure.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/formdisplay_structure.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/landing_structure.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/login_structure.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/registerform_structure.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/statistics_structure.css" />
    
</head>

<body>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyApyPVMUxBRyZPWwgOmxxBLy8wh8cLcrfA",
            authDomain: "dave-28da5.firebaseapp.com",
            databaseURL: "https://dave-28da5.firebaseio.com",
            projectId: "dave-28da5",
            storageBucket: "dave-28da5.appspot.com",
            messagingSenderId: "655534704604"
        };
        firebase.initializeApp(config);
    </script>
    <script src="/javascript/main.js"></script>
</body>

</html>