<body>
	<div id="view" class="passive">
		
			<!-- Navigation -->
			<nav class="main-nav">
				<ul>
					<li><a route="/statistics">Statistics</a></li>
					<li><button class="logout">Logout</button></li>
				</ul>
			</nav>

			<!-- The table with forms registered  -->
			<div class="table-space">
				<h1>Acestea sunt datele înregistrate</h1>

				<div id="displayTable" class="data-table" style="overflow-x:auto">
				</div>
			</div>

			<div class="buttons">
				<ul>
					<li><button id="regenCode">Regen Javascript</button></li>
					<li><button>Export data</button></li>
				</ul>
			</div>

			<div id="codeRegen" class="code">
        
			</div>
		</div>
	
	<!--End view-->
</body>
