<body>
	<div id="view" class="passive">
		
			<!-- Navigation -->
			<nav class="main-nav">
				<ul>
					<li><a route="/statistics">Statistics</a></li>
					<li><button class="logout">Logout</button></li>
				</ul>
			</nav>

			<!-- The table with forms registered  -->
			<div class="table-space">
				<h1>Acestea sunt datele înregistrate</h1>

				<div class="data-table" style="overflow-x:auto">
					<table>
						<thead>
							<tr>
								<th>Nume</th>
								<th>Numar telefon</th>
								<th>Email</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Gigel</td>
								<td>43243243225</td>
								<td>dasda@dasdsa.ro</td>
							</tr>
							<tr>
								<td>Tudor</td>
								<td>6663463234</td>
								<td>adsadsa@adsada.ro</td>
							</tr>
							<tr>
								<td>Sanziana</td>
								<td>996438348</td>
								<td>akdmskm@fkdsskl.ro</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="buttons">
				<ul>
					<li><button>Regen Javascript</button></li>
					<li><button>Export data</button></li>
				</ul>
			</div>

			<div class="js-code">
				<p>Regenerated javascript code</p>
			</div>
		</div>
	
	<!--End view-->
</body>
