
<body>
	<div id="view" class="passive">
		<div class="landingContainer">
			<!-- Title of the project -->
			<h1 class="project">DAVE</h1>
			<div class="landingWrapper">
				<div class="project-info">
					<h3>Data Vaults on the Web</h3>
					<p>This project aims to do stuff with cryptography</p>
				</div>

				<!-- The login form -->
				<div class="login">
					<form id="registerForm">
						<div class="form-group">
							<label><b>First Name</b></label>
							<input name="fName" type="text" required>
						</div>
						<div class="form-group">
							<label><b>Last Name</b></label>
							<input name="lName" type="text" required>
						</div>
						<div class="form-group">
							<label><b>Email</b></label>
							<input name="email" type="text" required>
						</div>
						<div class="form-group">
							<label><b>Password</b></label>
							<input name="password" type="password" required>
						</div>
						<input class="button" type="submit" value="Register">
						<button route="/login" class="button">Login</button>
					</form>
				</div>
				<div id="errorRegister"></div>
			</div>
		</div>
	</div><!--End view-->

</body>

