<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Welcome</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id="view" class="passive">
		<div class="landingContainer">
			<!-- Title of the project -->
			<h1 class="project">DAVE</h1>
			<div class="landingWrapper">
				<div class="project-info">
					<h3>Data Vaults on the Web</h3>
					<p>This project aims to do stuff with cryptography</p>
				</div>

				<!-- The login form -->
				<div class="login">
					<form>
						<div class="form-group">
							<label><b>First Name</b></label>
							<input type="text" required>
						</div>
						<div class="form-group">
							<label><b>Last Name</b></label>
							<input type="text" required>
						</div>
						<div class="form-group">
							<label><b>Email</b></label>
							<input type="text" required>
						</div>
						<div class="form-group">
							<label><b>Password</b></label>
							<input type="password" required>
						</div>
						<input class="button" type="submit" value="Continue">

					</form>
				</div>
			</div>
		</div>
	</div><!--End view-->

</body>

</html>