<body>
	<div id="view" class="passive">
		<div class="loginContainer">

			<!-- Title of the project -->
			<h1 class="project">DAVE</h1>
			<div class="loginWrapper">

				<!-- The login form -->
				<div class="login">
					<form id="loginForm">
						<div class="form-group">
							<label><b>Email</b></label>
							<input name="email" type="text" required>
						</div>
						<div class="form-group">
							<label><b>Password</b></label>
							<input name="password" type="password" required>
						</div>
						<input class="button" type="submit" value="Login">
						<button route="/landing" class="button">Register</button>
					</form>
				</div>
				<div id="errorLogin"></div>
			</div>
		</div>
	</div>
	<!--end view-->

</body>