<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dave Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id="view" class="passive">
		<div class="loginContainer">

			<!-- Title of the project -->
			<h1 class="project">DAVE</h1>
			<div class="loginWrapper">

				<!-- The login form -->
				<div class="login">
					<form>
						<div class="form-group">
							<label><b>Email</b></label>
							<input type="text" required>
						</div>
						<div class="form-group">
							<label><b>Password</b></label>
							<input type="password" required>
						</div>
						<div class="form-group">
							<label>Remember me</label>
							<input type="checkbox" checked="checked" name="remember">
						</div>
						<input class="button" type="submit" value="Login">
					</form>
				</div>
			</div>
		</div>
	</div><!--end view-->

</body>

</html>