
<body>
  <div id="view" class="passive">
    <div class="registerWrapper">

      <!-- Navigation -->
      <nav class="main-nav">
        <ul>
          <li><a route="/statistics">Statistics</a></li>
          <li><a href="#">LogOut</a></li>
        </ul>
      </nav>

      <!-- Register form -->
      <div class="register">
        <form>
          <div class="fields">
            <label>Nume formular:</label>
            <input type="text" required>
          </div>
          <input class="button" type="submit" value="Trimite">
        </form>
      </div>


      <!-- Section with the JavaScript code -->
      <div class="code">
        <p>
          ***** JAVASCRIPT CODE AFTER REGISTER*****
        </p>
      </div>
    </div><!--End wrapper div-->
  </div><!--End view div-->
</body>
