<body>
	<div id="view" class="passive">
		<div class="statsWrapper">

			<!-- Navigation -->

			<nav class="main-nav">
				<ul>
					<li><a route="/">Home</a></li>
					<li><a href="#">Logout</a></li>
				</ul>
			</nav>

			<!-- Section dedicated to graphics and statistics -->

			<div class="statistics">
				<img src="/images/statistics.jpg" alt="different kind of statistics displayed here">
			</div>

			<!-- Export statistics section -->

			<div class="buttons">
				<button type="submit">Export statistics</button>
			</div>


		</div>
	</div><!--end view-->
</body>